<!-- Footer -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer_col">
        <div class="footer_column footer_contact">
          <div class="logo_container">
            <div class="logo"><a href="#">Michelle's Market</a></div>
          </div>
          <div class="footer_title">Liên hệ với chúng tôi</div>
          <div class="footer_phone">1900-63-64-67</div>
          <div class="footer_contact_text">
            <p>190 Sư Vạn Hạnh</p>
            <p>Phường 15, Quận 10, Thành Phố Hồ Chí Minh</p>
          </div>
          <div class="footer_social">
            <ul>
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 offset-lg-2">
        <div class="footer_column">
          <div class="footer_title">Danh mục sản phẩm</div>
          <ul class="footer_list">
            <li><a href="#">Văn học</a></li>
            <li><a href="#">Sách thiếu nhi</a></li>
            <li><a href="#">Kinh tế</a></li>
            <li><a href="#">Tiểu sử hồi ký</a></li>
            <li><a href="#">Sách giáo khoa</a></li>
          </ul>
          <!-- <div class="footer_subtitle">Gadgets</div>
                    <ul class="footer_list">
                        <li><a href="#">Car Electronics</a></li>
                    </ul> -->
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <div class="footer_title">Hỗ trợ</div>
          <ul class="footer_list">
            <li><a href="#">Chính sách đổi trả-hoàn tiền</a></li>
            <li><a href="#">Phương thức vận chuyển</a></li>
            <li><a href="#">Phương thức thanh toán</a></li>
            <li><a href="#">Chính sách mua sỉ</a></li>
            <!-- <li><a href="#">Computers & Laptops</a></li> -->
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <div class="footer_title">Tài khoản của tôi</div>
          <ul class="footer_list">
            <li><a href="#">Tạo tài khoản</a></li>
            <li><a href="#">Đặt hàng</a></li>
            <li><a href="#">Sản phẩm yêu thích</a></li>
            <li><a href="#">Dịch vụ dành cho khách hàng</a></li>
            <!-- <li><a href="#">Returns / Exchange</a></li> -->
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Hỗ trợ sản phẩm</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
