<!-- Shop Content -->

<div class="shop_content">
  <div class="shop_bar clearfix">
    <div class="shop_product_count">
      <span>{{ countBooks }}</span> Sản phẩm được tìm thấy
    </div>
    <div class="shop_sorting">
      <span>Lọc theo:</span>
      <ul>
        <li>
          <span class="sorting_text"
            >Yêu thích<i class="fas fa-chevron-down"></i
          ></span>
          <ul>
            <li
              class="shop_sorting_button"
              data-isotope-option='{ "sortBy": "original-order" }'
            >
              Yêu thích
            </li>
            <li
              class="shop_sorting_button"
              data-isotope-option='{ "sortBy": "name" }'
            >
              Tên
            </li>
            <li
              class="shop_sorting_button"
              data-isotope-option='{ "sortBy": "price" }'
            >
              Giá
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="product_grid row">
    <div class="product_grid_border"></div>
    <div
      class="product_item new col-md-3"
      *ngFor="let book of bookss; let i = index"
      id="{{ i }}"
    >
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="{{ book.retrievedImage }}" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">{{ book.price }}<span>900.000</span></div>
        <div class="product_name">
          <div>
            <a
              [title]="book.name + ' details'"
              [routerLink]="['/book', book.id]"
              tabindex="0"
              >{{ book.name }}</a
            >
          </div>
        </div>
      </div>
      <div
        (click)="addToCart(book.id)"
        (click)="refreshPage()"
        class="product_fav"
      >
        <i class="fas fa-cart-plus"></i>
      </div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
    <div class="col-md-3">
      <select
        class="custom-select custom-select-sm"
        (change)="handlePageSizeChange($event)"
      >
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="
            let tutorial of tutorials
              | paginate
                : {
                    itemsPerPage: size,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.title }}
        </li>
      </ul>
    </div>
  </div>
</div>
