<!-- Shop Content -->

<div class="shop_content">
  <div class="shop_bar clearfix">
    <div class="shop_product_count">
      <span>{{ countBooks }}</span> Sản phẩm được tìm thấy
    </div>
    <div class="shop_sorting">
      <span>Lọc theo:</span>
      <ul>
        <li>
          <span class="sorting_text"
            >Yêu thích<i class="fas fa-chevron-down"></i
          ></span>
          <ul>
            <li
              class="shop_sorting_button"
              data-isotope-option='{ "sortBy": "original-order" }'
            >
              Yêu thích
            </li>
            <li
              class="shop_sorting_button"
              data-isotope-option='{ "sortBy": "name" }'
            >
              Tên
            </li>
            <li
              class="shop_sorting_button"
              data-isotope-option='{ "sortBy": "price" }'
            >
              Giá
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-3">
    ... Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
  <div class="product_grid">
    <!-- <div class="product_grid_border"></div> -->

    <!-- Product Item -->
    <div
      class="product_item is_new"
      *ngFor="let book of tutorials; let i = index"
    >
      <div class="product_border"></div>
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img class="image_product" src="{{ book.retrievedImage }}" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">${{ book.price }}</div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">{{ book.name }}</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-25%</li>
        <li
          class="product_mark product_new"
          (click)="addToCart(book.id)"
          (click)="refreshPage()"
        >
          new
        </li>
      </ul>
    </div>

    <!-- Product Item discount -->
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/nhagiakim.png" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">80.000<span>900.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Nhà Giả Kim</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/dacnhantam.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">90.000<span>100.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Đắc Nhân Tâm</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <!-- <div class="product_item discount">
     
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/toila.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">50.000<span>60.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Tôi Là Bêtô</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div> -->
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/matbiec.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">50.000<span>40.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Mắt biếc</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/thangquynho.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">40.000<span>50.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Thằng Quỷ Nhỏ</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/tatden.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">80.000<span>70.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Tắt Đèn</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/nhagiakim.png" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">80.000<span>900.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Nhà Giả Kim</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/dacnhantam.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">90.000<span>100.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Đắc Nhân Tâm</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <!-- <div class="product_item discount">
     
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/toila.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">50.000<span>60.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Tôi Là Bêtô</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div> -->
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/matbiec.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">50.000<span>40.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Mắt biếc</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/thangquynho.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">40.000<span>50.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Thằng Quỷ Nhỏ</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/tatden.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">80.000<span>70.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Tắt Đèn</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/nhagiakim.png" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">80.000<span>900.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Nhà Giả Kim</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/dacnhantam.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">90.000<span>100.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Đắc Nhân Tâm</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <!-- <div class="product_item discount">
     
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/toila.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">50.000<span>60.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Tôi Là Bêtô</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div> -->
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/matbiec.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">50.000<span>40.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Mắt biếc</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/thangquynho.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">40.000<span>50.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Thằng Quỷ Nhỏ</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <div class="product_item discount">
      <!-- <div class="product_border"></div> -->
      <div
        class="
          product_image
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
      >
        <img src="assets/images/tatden.jpg" alt="" />
      </div>
      <div class="product_content">
        <div class="product_price">80.000<span>70.000</span></div>
        <div class="product_name">
          <div>
            <a href="#" tabindex="0">Tắt Đèn</a>
          </div>
        </div>
      </div>
      <div class="product_fav"><i class="fas fa-heart"></i></div>
      <ul class="product_marks">
        <li class="product_mark product_discount">-10%</li>
        <li class="product_mark product_new">new</li>
      </ul>
    </div>
    <!-- 
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    >
    </pagination-controls> -->

    <!-- <div class="mt-3">
      ... Items per Page:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div> -->
  </div>
  <div>
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    >
    </pagination-controls>
  </div>
</div>
