<div class="categoryDetails">
  <h2>Category details</h2>

  <table>
    <tr>
      <td>Category Id</td>
      <td>{{ category.id }}</td>
    </tr>
    <tr>
      <td>Category Name</td>
      <td>{{ category.name }}</td>
    </tr>
  </table>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group show" role="group" aria- label="Button group with nested dropdown">
        <div class="btn-group" role="group" appDropdown>
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </button>
          <div class="dropdown-menu show" aria- labelledby="btnGroupDrop1">
            <a class="btn btn-small" (click)="deleteCategory()"> Delete Category</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
<br /><br />
<br /><br />
