<ul class="cart_shopping">
  <li class="dropdown">
    <br />
    <a
      href="#"
      class="btn btn_badge btn-lg"
      data-toggle="dropdown"
      role="button"
      aria-expanded="false"
    >
      <fa-icon [icon]="faShoppingCart"></fa-icon>
      <span class="badge badge-pill badge-warning badge_cart">{{
        cartBooks.length
      }}</span>
    </a>
    <ul class="dropdown-menu dropdown-cart" role="menu">
      <li *ngFor="let item of cartBooks">
        <div class="item product-cart-item row">
          <div class="col-md-8" *ngIf="item">{{ item.name }}</div>
          <div class="col-md-4" *ngIf="item">
            <strong>${{ item.price }}</strong>
          </div>
        </div>
      </li>
      <hr />
      <li>
        <a class="btn btn-small btn-success" role="button" (click)="goToCart()"
          >View Cart</a
        >
      </li>
      <br />
      <li *ngIf="cartBooks.length > 0">
        <a class="btn btn-small btn-warning" role="button" (click)="emptyCart()"
          >Empty Cart</a
        >
      </li>
    </ul>
  </li>
</ul>

<hr />
<hr />

<div class="container row">
  <!-- Product Item -->
  <div
    class="col-md-4 product_item is_new"
    *ngFor="let book of books; let i = index"
  >
    <div class="product_border"></div>
    <div
      class="
        product_image
        d-flex
        flex-column
        align-items-center
        justify-content-center
      "
    >
      <img src="{{ book.retrievedImage }}" alt="" />
    </div>
    <div class="product_content">
      <div class="product_price">${{ book.price }}</div>
      <div class="product_name">
        <div>
          <a href="#" tabindex="0">{{ book.name }}</a>
        </div>
      </div>
    </div>
    <div class="product_fav"><i class="fas fa-heart"></i></div>
    <ul class="product_marks">
      <li class="product_mark product_discount">-25%</li>
      <li class="product_mark product_new">new</li>
    </ul>
    <button
      class="btn btn-secondary btn-sm"
      (click)="addToCart(book.id)"
      [disabled]="book.isAdded === true"
    >
      Add To Cart
    </button>
  </div>
</div>
<app-newsletter></app-newsletter>
