<div class="bookDetails">
  <h2>Book Details</h2>

  <table>
    <tr>
      <td>Book Id</td>
      <td>{{ book.id }}</td>
    </tr>
    <tr>
      <td>Book Name</td>
      <td>{{ book.name }}</td>
    </tr>
    <tr>
      <td>Book Author</td>
      <td>{{ book.author }}</td>
    </tr>
    <tr>
      <td>Book Price</td>
      <td>{{ book.price }}</td>
    </tr>
  </table>
  <br />
  <img src="{{ book.retrievedImage }}" height="200" width="200" />
  <br /><br />

  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group show" role="group" aria- label="Button group with nested dropdown">
        <div class="btn-group" role="group" appDropdown>
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage
          </button>
          <div class="dropdown-menu show" aria- labelledby="btnGroupDrop1">
            <a class="btn btn-small btn-success" (click)="editBook()">Edit Book</a>
            <a class="btn btn-small btn-danger" (click)="deleteBook()">Delete Book</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
<br /><br />
<br /><br />