.btn btn-light btn-md mr-1 mb-2{
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
     .like:hover {
      background: #4827be;
      color: #fff; }

.view overlay rounded z-depth-1 main-img {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.col-md-6 {
  text-transform: UPPERCASE;
  font-weight: bold;
  margin-bottom: 15px; 
  margin-top: 0; }

.mr-1 {
  text-transform: UPPERCASE;
  font-weight: bold;
  margin-bottom: 15px; }
