<!-- Shop Sidebar -->
<div class="shop_sidebar">
  <div class="sidebar_section">
    <div class="sidebar_title">Danh mục</div>
    <ul class="sidebar_categories">
      <li><a href="#">Văn học</a></li>
      <li><a href="#">Sách thiếu nhi</a></li>
      <li><a href="#">Kinh tế</a></li>
      <li><a href="#">Sách giáo khoa</a></li>
      <li><a href="#">Tiểu sử hồi ký</a></li>
      <li><a href="#">Truyện ngắn</a></li>
      <!-- <li><a href="#">Car Electronics</a></li>
            <li><a href="#">Video Games & Consoles</a></li>
            <li><a href="#">Accessories</a></li> -->
    </ul>
  </div>
  <div class="sidebar_section filter_by_section">
    <div class="sidebar_title">Lọc theo</div>
    <div class="sidebar_subtitle">Giá</div>
    <div class="filter_price">
      <div id="slider-range" class="slider_range"></div>
      <!-- <p>Range:</p> -->
      <p>
        <input
          type="text"
          id="amount"
          class="amount"
          readonly
          style="border: 0; font-weight: bold"
        />
      </p>
    </div>
  </div>
  <!-- <div class="sidebar_section">
    <div class="sidebar_subtitle color_subtitle">Màu sắc</div>
    <ul class="colors_list">
      <li class="color"><a href="#" style="background: #b19c83"></a></li>
      <li class="color"><a href="#" style="background: #000000"></a></li>
      <li class="color"><a href="#" style="background: #999999"></a></li>
      <li class="color"><a href="#" style="background: #0e8ce4"></a></li>
      <li class="color"><a href="#" style="background: #df3b3b"></a></li>
      <li class="color">
        <a href="#" style="background: #ffffff; border: solid 1px #e1e1e1"></a>
      </li>
    </ul>
  </div> -->
  <div class="sidebar_section">
    <div class="sidebar_subtitle brands_subtitle">Tên tác giả</div>
    <ul class="brands_list">
      <li class="brand"><a href="#">Nguyễn Nhật Ánh</a></li>
      <li class="brand"><a href="#">Dale Carnegie </a></li>
      <li class="brand"><a href="#">Sara Imas</a></li>
      <li class="brand"><a href="#">Trang Hạ</a></li>
      <li class="brand"><a href="#">Gào</a></li>
      <!-- <li class="brand"><a href="#">Samsung</a></li>
      <li class="brand"><a href="#">Sony</a></li> -->
      <!-- <li class="brand"><a href="#">Xiaomi</a></li> -->
    </ul>
  </div>
</div>
